body {
    margin: 0;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    height: 375px;
    width: 525px;
    border-radius: 4px;
    background-color: rgb(22, 22, 124);
}

h3 {
    color: #EEEEEE;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 0;
}

#home-score {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    color: #EEEEEE;
    height: 100px;
    width: 100px;
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 72px;
    color: #F94F6D;
}

#new-game {
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

#guest-score {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    color: #EEEEEE;
    height: 100px;
    width: 100px;
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 72px;
    color: #F94F6D;
}

button {
    height: 28px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.buttons {
    margin-top: 23px;
}

/* point color */
/* HOME/GUEST color #EEEEEE */
/* point background color #080001 */