body {
    margin: 0;
    display: flex;
    align-items: center;
    background-image: url('michael.jpg');
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    height: 375px;
    width: 525px;
    border-radius: 6px;
    background-color: rgb(49, 49, 93);
}

h3 {
    color: #EEEEEE;
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 57px;
    margin-bottom: 0px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 0;
}

#home-score {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 118px;
    width: 120px;
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 72px;
    color: #F94F6D;
}

#new-game {
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

#guest-score {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 118px;
    width: 120px;
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 72px;
    color: #F94F6D;
}

button {
    height: 42px;
    width: 42px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: rgb(49, 49, 93);
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 65px;
    width: 150px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.timer-period-container {
    display: flex;
}

.timer-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
}

.period-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 69px;
    height: 35px;
    padding-top: 5px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    color: #F94F6D;
}

#start-timer {
    width: 72px;
}

#pause-timer {
    width: 63px;
    height: 42px;
}

#period {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    height: 40px;
    width: 60px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: black;
}

#new-game {
    width: 100px;
    color: #9AABD8;
    margin-bottom: 125px;
}